[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
pillow = "*"
djangorestframework = "*"
pygments = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
django-registration-redux = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"

[dev-packages]
prospector = "*"

[requires]
python_version = "3.9"
